.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #e8eef2;
  border: 0.5rem solid #3d5467;
}

@media (min-width: 1025px) {
  .App {
    width: 1025px;
    margin: 0 auto;
  }
}
